<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error | MixMaster</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="error-section">
        <h2>Oh No!!!</h2>
        <p> An error has occured :(. Please try again!</p>
        <a href="/" class="retry-btn">Try Again</a>
    </div>
</body>
</html>